@charset "utf-8";
html, body {
  height: 100%;
  width: 100%;
}
p { 
  color: rgb(255, 0, 221); 
}    
.wrap{
    display:flex;
  }
.code_style{
    background:lightblue;
    display:flex;
    width:500px;
    height:300px;
    overflow: scroll;
    font-size: 10px;
    font-family:'Consolas','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.interface_code {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* 2分割されたコンテナのスタイル */
.container {
    display: flex;
    width: 100%;
    height:100%;
    border: 1px solid #ccc;
}

/* 左側*/
.left-pane {
    flex: 1 1 auto;
    padding: 10px;
    overflow: scroll;
    background-color: #f1f1f1;
    /* resize: horizontal; */
}

/* 右側 */
.right-pane {
    flex: 1 1 auto;
    padding: 10px;
    overflow: scroll;
    background-color: #e0e0e0;
}

.selectbox {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.selectbox select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}