@charset "utf-8";
p { 
  color: rgb(0, 238, 255); 
}    
.wrap{
    display:flex;
  }
.code_style{
    background:lightblue;
    display:flex;
    width:600px;
    height:480px;
    overflow: scroll;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }